@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import 'style-variables.scss';

body {
  background-color: $bodyBackground;
  color: $fontColor;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
}

.row {
  margin: 0
}

.searchIcon {
  background-image: url('./assets/svg/search.svg');
  background-repeat: no-repeat;
  background-position: right 14px top 9px;
  background-position-y: center;
}

input.textInput {
  max-width: 380px;
  min-width: 280px;
} 

input {
  height: 38px;
}

textarea {
  height: 120px;
}

input, textarea {
  border: 1px solid $fontColor;
  border-radius: 4px;
  padding: 6px 12px;

  &:focus, &:active {
    outline: none !important;
    border: 1px solid $greyOutline;
  }
}

button {
  &:focus, &:active {
    outline: none !important;
  }
}

.btn {
  height: 38px;
  border-radius: 4px;

}

.primaryBtn {
  border: 1px solid $primaryBtnActive;
  min-width: 120px;
  background-color: $primaryBtn;
  color: white !important;

  &:hover, :focus, :active {
    color: white !important;
    background-color: $primaryBtnActive;
  }
}


.secondaryBtn {
  border: 1px solid $secondaryBtnActive;
  background-color: $secondaryBtn;
  color: white !important;
  min-width: 50px;

  &:hover, :focus, :active {
    color: white !important;
    background-color: $secondaryBtnActive;
  }
}


.warningBtn {
  border: 1px solid $warningBtnActive;
  background-color: $warningBtn;
  color: white !important;
  min-width: 50px;

  &:hover, :focus, :active {
    color: white !important;
    background-color: $warningBtnActive;
  }
}

.verticalLine {
  border-right: 1px solid white;
  height: 20px;
  margin: 0px 20px;
}

.verticalAlignCenter {
  // display: flex;
  align-items: center;
}

.link {
  color: $links;
}

a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.backBtn {
  float: left;
  font-size: 12px;
  margin-left: 45px;
  font-weight: 700;
  cursor: pointer;
}

.required {
  color: $errorRed;
}

.navigateToLink {
  float: left;
  margin: 10px 0px;
  color: $links;
}


.tdEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FLOAT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$floats: (
  'Left': left,
  'Right': right
);

@each $floatKey, $floatValue in $floats {
  .float#{$floatKey} {
    float: $floatValue;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ DISPLAY @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$displays: (
  'Flex': flex,
  'Grid': grid,
  'Block': block,
  'Contents': contents,
);

@each $disKey, $disValue in $displays {
  .display#{$disKey} {
    display: $disValue;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ POSITION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$positions: (
  'Relative': relative
);

@each $positionKey, $positionValue in $positions {
  .display#{$positionKey} {
    position: $positionValue;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MARGIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$margin: (
  '0': 0px,
  '20': 20px,
);

@each $marginKey, $marginValue in $margin {
  .margin#{$marginKey} {
    margin: $marginValue;
  }
}

$marginTB: (
  '20': 20px,
);

@each $marginKey, $marginValue in $marginTB {
  .marginTB-#{$marginKey} {
    margin: $marginValue 0px;
  }
}


$marginLeft: (
  '30': 30px,
);

@each $marginKey, $marginValue in $marginLeft {
  .marginLeft-#{$marginKey} {
    margin-left: $marginValue;
  }
}

$marginRight: (
  '30': 30px,
);

@each $marginKey, $marginValue in $marginRight {
  .marginRight-#{$marginKey} {
    margin-right: $marginValue;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TEXT ALIGN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$alignments: (
  'Right' : right,
  'Center' : center
);

@each $alignKey, $alignValue in $alignments {
  .textAlign#{$alignKey} {
    text-align: $alignValue !important;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ALIGN ITEM @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

$alignments: (
  'Center' : center
);

@each $alignKey, $alignValue in $alignments {
  .alignItem#{$alignKey} {
    align-items: $alignValue !important;
  }
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TOOLTIP @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.reactTooltipStyle {
  max-width: 220px;
  background: $tooltipBg !important;
}

.place-bottom {
  margin-top: -8px !important;

  &::after {
    border-bottom-color: $tooltipBg !important;
    border-top-color: $tooltipBg !important;
  }
}

.place-top {
  margin-top: 8px !important;

  &::after {
    border-top-color: $tooltipBg !important;
  }
}

.place-right {
  margin-right: -8px !important;

  &::after {
    border-right-color: $tooltipBg !important;
  }
}

.place-left {
  margin-left: -8px !important;

  &::after {
    border-left-color: $tooltipBg !important;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FORM @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.formContainer {
  border: 1px solid $darkBg;
  border-radius: 4px;
  padding: 30px;
  background-color: white;
  width: 70% !important;
  display: inline-block;
  margin: 30px 0px;

  .formTitleContainer {
      border-bottom: 2px solid #231a18;
      padding-bottom: 10px;
      text-align: left;
  }

  .formField {
      // width: 100%;
      margin-top: 20px;
      display: grid;

      p {
          float: left;
          display: flex;
          font-weight: 700;
          margin-bottom: 5px;
      }

      input {
          width: 100%;
      }
  }

}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MODAL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SCROLL BAR @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}