@import "../../style-variables.scss";

.footerContainer {
    background-color: $darkBg;
    width: 100%;
    color: white;
    bottom: 0px;
    padding: 15px 45px !important;
    line-height: 2;
    min-height: 45px !important;
    left: 0px;
    font-size: 12px;
    margin-top: 35px !important;
}