@import "../../style-variables.scss";

.footerContainer {
    background-color: $darkBg;
    width: 100%;
    color: white;
    bottom: 0px;
    padding: 15px 45px !important;
    line-height: 1;
    min-height: 45px;
    left: 0px;
    // position: absolute !important;
    font-size: 12px;
}