@import '../../style-variables.scss';

.tradeContainer {
    height: 100%;
    padding: 30px !important;
    display: inline-table;

    .tradeList {
        display: grid;
        padding: 25px 15px !important;
        cursor: pointer;

        .cardContainer {
            border-bottom: none;
            border-radius: 4px 4px 0px 0px;
            height: 220px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        .tradeTitle {
            padding: 10px 0px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
            font-size: 15px;
        }
    }
    
}
