@import '../../style-variables.scss';

.tradeContainer {
    height: 100%;
    padding: 30px !important;
    display: inline-table;

    .sectionDivider {
        border-bottom: 1px solid $darkBg;
        font-size: 22px;
        font-weight: 700;
        width: 90%;
        text-transform: capitalize;
    }

    .tradeList {
        display: grid;
        padding: 25px 15px !important;
        cursor: pointer;
        
        .tradeTitle {
            padding: 10px 0px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
            font-size: 15px;
            margin: 0 25px;
        }
    }

    .verticalLine {
        border-right: 1px solid $darkBg !important;
    }
    
}
