@import '../../style-variables.scss';

.homeContainer {
    display: contents;

    .homeSection {
        padding: 25px 45px;

        .backBtn {
            align-items: center;
            display: flex;
        }
    }

    .sectionDivider {
        width: 70%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 50px 15%;
        display: inline-block;
        
        .sectionTitle { 
            background: $bodyBackground; 
            padding:0 10px; 
        }
    } 

    .grid1 {
        border-right: 1px solid $darkBg;
    }

    .grid2 {
        border-left: 1px solid $darkBg;
    }

    .grid1, .grid2 {
        // text-align: ;
        align-items: center;
        display: flex;
    }

    .cardContainer {
        border-radius: 4px;
        min-height: 275px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLT4BVfnecvGB8nqgUDx7fZheBCk_xl4Wxmg&usqp=CAU');

        .disCardContainer {
            margin: 20px 0px;
            height: 100%;

            .tradeCardContainer {
                width: 300px;
            }
        }
    }
}
